.Page-tip {
    padding: 8px;
    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Medium;
    background: url("../assets/images/visualization/pageTitle.png");
    background-size: 100% 100%;
}

.Page-tip .Page-title {
    font-weight: 600;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Medium;
}