
// AI大数据平台-dtl
$page_bg: url('@/view/AIData/images/bc.jpg');
$header_bg: url('@/view/AIData/images/0.png');
$echarts_bg_img1: url('@/view/AIData/images/chrats_size.png');
$echarts_bg_img2: url('@/view/AIData/images/_2.png');
$box_head_bg_img: url('@/view/AIData/images/image-2.png');
$box_head_bg_img1: url('@/view/AIData/images/11.png');
$box_body_bg: url('@/view/AIData/images/1.png');
$table_bg_Title: url('@/view/AIData/images/table_title.png');
