/*
 * @Author: dtl darksunnydong@qq.com
 * @Date: 2024-01-22 14:38:06
 * @LastEditors: dtl darksunnydong@qq.com
 * @LastEditTime: 2024-01-22 17:59:11
 * @FilePath: \project\zhihuigehoutai\src\style\element\AIcommon.scss
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */

// AI大数据平台-dtl
$page_bg: url('@/view/AIData/images/bc.jpg');
$header_bg: url('@/view/AIData/images/0.png');
$echarts_bg_img1: url('@/view/AIData/images/chrats_size.png');
$echarts_bg_img2: url('@/view/AIData/images/_2.png');
$box_head_bg_img: url('@/view/AIData/images/image-2.png');
$box_body_bg: url('@/view/AIData/images/1.png');
$table_bg_Title: url('@/view/AIData/images/table_title.png');
